h1 {
  color: #09f;
}

body {
  background: rgba(84, 245, 156, 0.9);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.link {
  color: red;
}

.link:hover {
  outline: 5px solid red;
}

.link:active {
  outline: 10px solid blue;
}

.description {
  border: 1px solid red;
}

li:first-child {
  color: green;
}

li:last-child {
  color: purple;
}
