.title {
  text-decoration: none;
  color: inherit;

  &:hover {
    text-decoration: underline;
  }
}

.actions {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  text-align: center;
}

.details {
  color: #09f;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  text-decoration: none;
}


